.login{
    max-width: 400px;
    margin: 20px auto;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form label {
    font-size: 18px;
    font-weight: normal;
    color: var(--gris-oscuro);
    display: block;
    margin-bottom: 10px;
}

form input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 15px;
}

form .boton-envio {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s ease;
    margin-bottom: 10px;
}

form .boton-envio:hover {
    background-color: #0056b3;
}

form .boton-registro{
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 25px;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.2s ease-out;
    margin-bottom: 10px;
}

form .boton-registro:hover{
    background-color: var(--gris-oscuro);
}