.reg-formularios {
    background-color: #ffff;
    max-width: 400px;
    margin: 20px auto;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.reg-botones button{
    background-color: var(--celeste);
    border: none;
    color: white;
    padding: 10px 25px;
    border-radius: 4px;
}

.reg-botones button:hover{
    background-color: gray;
    cursor: pointer;
}

.reg-formularios h4{
    font-size: 20px;
    margin-bottom: 15px;
}